// =========================
// updated 15 Oct 2019 14:14 BST
// Palette change
// https://designnotes.blog.gov.uk/2019/07/29/weve-updated-the-gov-uk-colours-and-font/
// =========================

$govuk-link-colour: #1d70b8;
$white: #fff;
$blue: #005ea5;
$grey-1: #6f777b;
$grey-2: #bfc1c3;
$border-colour: $grey-2;
$error-colour: #d4351c;
$govuk-text-colour: #0b0c0c;
$light-grey: #f3f2f1;
$yellow: #ffdd00;
$green: #00703c;
$red: #d4351c;
